body{
    color:black;
    float: none;
  margin: 5px;
    padding: 10px;
    background-color: DeepSkyBlue;
    text-decoration: none;
}
p.pre {
    white-space: pre;
    }
  img {
   display: block;
	 float: ; right: 
	 width: 120;
	 margin-right: 10px;
	    }
	    p.position_fixed{
	    	position: absolute;
	    	top: 250px;
	    	right: 475px;
	    	color: black;
	    	font-size: large;
	    	text-decoration: underline;
	    }
	  p.underline{
	  	text-decoration: underline;
	  	font-weight: bold;
	  	font-size: large;
	  }
 div{
	  	text-decoration: none;
	  	display: inline-block;
	  	background-color: DeepSkyBlue;
	  	padding: 5px;
	  	margin: 10px;
	  }
