 @media all and (min-device-width: 320px, max-device-width: 2000px);   


body {
    color: black;
    float: none;
    margin: 25;
    padding: 100;
    background-color: DeepSkyBlue;
    text-decoration: none;
}

div.container
{
    width: 100;
    height: 100;
}

p.pre {
    white-space: pre;
}

img {
    display: block;
    float: ;
    right: width: 120;
    margin-right: 10;
}

p.position_fixed {
    position: absolute;
    top: 250px;
    right: 475px;
    color: black;
    font-size: large;
    text-decoration: underline;
}

p.underline {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
